@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rubik+Doodle+Shadow&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your custom styles here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.hero-bg {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@media (min-width: 1024px) {
  .hero-bg {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  }

}

.servic-bg {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@media (min-width: 1024px) {
.servic-bg {
  clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 75%);
}
}

.h2-title {
  font-family: "Josefin Sans", sans-serif;
}

.p-subtitle {
  font-family: "Rubik", sans-serif;
}

.footer-bg{
  clip-path: polygon(0 25%, 100% 50%, 100% 100%, 0% 100%);
}

tldx-lmi-shadow-root{
  display: none;
}